nav {
    margin-top: 0;
}

.background {
    background-image: linear-gradient(black, white);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.lightbox {
    background:rgba(61, 55, 55,0.4);
    padding: 50px;
    width: 100%;
    float: none;
    display: inline-block;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    color: white;
    
}
.title {
    text-align: Center;
    color: #E3E3E3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 53px;
}

.center {
    align-self: center;
}

.nav_text{
    color: #E3E3E3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

.signup {
      background-image: linear-gradient(red, yellow);

}


.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#weapon {
    padding:12px;
    font-family: 'Gloria Hallelujah';
}

.store {
    background-image: linear-gradient(black, white);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}